.personal-info, .skills, .extra-section {
    margin: 50px;
}

h1 {
    color: blue;
}

th, td {
    border: 1px solid black;
}

table {
    border: 2px solid black;
}

button {
    color: black;
    background-color: gainsboro;
    border: 2px solid black;
    border-radius: 5px;
}

button:hover {
    background-color: gray;
}